/* html{
    scroll-behavior: smooth;
} */

body {
    padding: 0;
    margin: 0;
    background: #080808;
    color: #fff;
    font-family: arial,sans-serif;
    
}
#header {
    width: 90%;
    height: 90px;
}
.container {
    position: relative;
    padding-bottom: 30px;
    align-items: center;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    width: 100%;
    
}
.logo {
    width: 140px;
    background: none;
    text-decoration: none;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FF0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
   
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 10%;
}
.header-text h1 {
    font-size: 60px;
    text-align: center;
    

}
.header-text h1 span{
    color: #FF0000;
}
.header-text p{
    text-align: center;
    font-size: 35px;
}
/* about section */
#about{
    padding-bottom: 10px;
    color: #fff;
    
    
}
#about .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about img{
    width: 30%;
    height: 10%;
    margin-left: 20%;
    
}
#about .about-column-1 h1{
    color: #FF0000;
    font-size: 40px;
    text-align: left;
    
}

.about-column-1{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

#about .about-skills h3{
    color: #FF0000;
    text-align: left;
}
#about .about-skills p{
    text-align: left;
}
#about .about-skills span{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.about-container h4{
    color: #fff;
    font-size: 20px;
    margin: 12px;
    text-align: left;
}
/* resume section */
#resume{
    text-align: center;
}
.button{
    text-decoration: none;
    color: #fff;
    background-color: #FF0000;
    padding: 10px 25px;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px auto 0;
    
    
}
/* contact section */
.contact-info-container{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.social-icons a{
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    color: #FF0000;
    display: contents;
    font-weight: 400;
    padding-right: 10px;
    
}

form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    
}
 h2{
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 10px;
}
.sub-tittle{
    text-align: center;
    font-size: 19px;
}
label svg {
    height: 1em;
    width: 1em;
    color: #FF0000;
    font-weight: 700;
    font-size: 1.1rem;
    fill: currentColor;
    stroke: currentColor;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
}
.contact-form{
    background-color: #1414148e;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    padding-top: 20px;


}
.contact-box {
    background-color: #1414148e;
    padding: 12px;
    margin: 20px 0px 0px;
    border-radius: 4px;
    

}
.contact-box label{
    font-size: 18px;
    margin: 0px 0px 5px;
}
p.social-icons{
    display: flex;
    justify-content: space-between;
}
/* footer section */
.footer{
    background-color: #14141449;
    color: #ffffffe1;
    height: 2.5rem;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-social-icons ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;    
}
.footer-social-icons a{
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    color: #FF0000;
    display: contents;
    font-weight: 400;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

}
.links {
    text-align: center;
}
.links i{
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: #FF0000;
    display: contents;
    font-weight: 400;
    padding-right: 10px;   
}
.links a{
    text-decoration: none;
    background-color: #1414148e;
    padding: 12px;
    margin: 20px 0px 0px;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
}